@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin submenu-active{
    opacity: 1;
    transition: max-height 0.4s ease-out;
}
@mixin mobile {
    @media screen and (max-width: 960px) {
        @content;
    }
}
@mixin s-size {
    @media screen and (max-width: 580px) {
        @content;
    }
}
@mixin size-400 {
    @media screen and (max-width: 400px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 960px) {
        @content;
    }
}
