@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: "Prompt", sans-serif;
}

.header {

    .nav-container {
        
        // -------- Mobile ---------
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'menu-area'
            'icons-area'
            'nav-area'
            ;
        }

        .icons {
            @include flex-center;
    
            background-color: $black;
            
            z-index: 998;

            // -------- Mobile ---------
            @include mobile {
                grid-area: icons-area;
                height: 50px;
                width: 100%;

                position: absolute;
                top: 40px;
                left: 0;

                pointer-events: none;
                opacity: 0;

                transition: top 0.4s, opacity 0.3s;
            }

            .icons-ul {
                @include flex-center;
                gap: 15px;

                // -------- Mobile ---------
                @include mobile {
                    gap: 0;
                }

                li {
                    a {
                        i{
                            display: block;
                            font-size: 20px;
                            padding: 15px;
                            color: $white-01;

                            transition: color 0.3s;

                            &:hover {
                                color: $white-03;
                            }
                        }
                        
                    }
                }
            }
        }
        .icons-active {
            top: 90px;
            opacity: 1;
            pointer-events: initial;
        }

        .menu {
            @include flex-center;
            padding: 30px;
            
            z-index: 999;

            background-color: $white-01;

            // -------- Mobile ---------
            @include mobile {
                grid-area: menu-area;

                @include flex-center;
                justify-content: space-between;
                
                box-shadow: 0px 0px 3px $shadow;
                padding: 10px;
                height: 90px;
            }

            .menu-logo {
                @include flex-center;
                
                a {
                    @include flex-center;
                    img {
                        max-width: 90%;
    
                        // -------- Mobile ---------
                        @include mobile {
                            max-width: 70%;
                        }
                    }
                }
                
            }
            .menu-icon {
                display: none;

                // -------- Mobile ---------
                @include mobile {
                    @include flex-center;

                    position: relative;
                    height: 45px;
                    width: 45px;

                    .icon-button {
                        position: absolute;
                        height: 3px;
                        width: 30px;
        
                        border: none;
                        border-radius: 5px;
        
                        background-color: $black;
                        transition-duration: 0.2s;
        
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0; 
                            bottom: 9px; 
        
                            height: 3px;
                            width: 30px;
                            border-radius: 5px;
        
                            background-color: $black; 
                            transition-duration: 0.4s;           
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 9px;
                            left: 0;
        
                            height: 3px;
                            width: 30px;
                            border-radius: 5px;
        
                            background-color: $black;
                            transition-duration: 0.4s;
                        }
                    }
                    .icon-click {
                        position: absolute;
                        height: 45px;
                        width: 45px;
                        cursor: pointer;
                    }
                    
                    .icon-button-active {
                        background-color: transparent;

                        &::after {
                            bottom: 0;
                            transform: rotate(45deg);
                        }
                        &::before {
                            top: 0;
                            transform: rotate(-45deg);
                            width: 30px;
                        }
                    }
                }
            }
        }
        
        .nav {
            @include flex-center;

            background-color: $white-01;
            
            z-index: 997;
            
            // -------- Mobile ---------
            @include mobile {
                grid-area: nav-area;
                justify-content: flex-start;
                width: 100%;
                
                position: absolute;
                top: 90px;
                left: 0;

                pointer-events: none;
                opacity: 0;

                transition: top 0.4s, opacity 0.3s;
            }

            .nav-ul {
                @include flex-center;
                gap: 20px;
    
                padding-inline: 60px;
    
                border-radius: 30px;
                border: 4px solid $black;
                
                background-color: $white-01;
                
                // -------- Mobile ---------
                @include mobile {
                    flex-direction: column;
                    gap: 0;

                    width: 100%;
                    padding: 0;

                    border-radius: 0;
                    border: none;
                }

                li {
                    @include flex-center;
                    justify-content: flex-start;
                    height: 54px;

                    // -------- Mobile ---------
                    @include mobile {
                        display: block;

                        height: 100%;
                        width: 100%;
                    }
                    
                    a, .dropdown-btn {
                        color: $black;
                        padding: 15px 10px;

                        cursor: pointer;
                        
                        transition: background-color 0.3s, color 0.2s;

                        &:hover {
                            color: $orange;
                        }
                        
                        // -------- Mobile ---------
                        @include mobile {
                            @include flex-center;
                            justify-content: space-between;

                            padding: 15px;
                            width: 100%;

                            &:hover {
                                background-color: $white-02;
                                
                            }
                        }

                        span {
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        i {
                            font-size: 14px;

                            color: $black;

                            transition: transform 0.2s;              
                        }
                    }
    
                    .li-bar {
                        cursor: default;

                        // -------- Mobile ---------
                        @include mobile {
                            display: none;
                        }
                    }
                }
                .li-services, .li-portfolio {
                    position: relative;
                    z-index: 996;

                    // -------- Desktop ---------
                    @include desktop {
                        &:hover .services, &:hover .portfolio {
                            top: 54px;
                            opacity: 1;
                            pointer-events: initial;
                        }              
                        &:hover i, &:hover i {
                            transform: rotate(-90deg);
                        }
                    }
                }
                .services, .portfolio {
                    position: absolute;
                    top: 70px;
                    
                    display: flex;
                    justify-content: center;

                    width: 200%;
                    flex-direction: column;
    
                    border: 4px solid $black;
                    border-radius: 0 0 10px 10px;
    
                    opacity: 0;
                    pointer-events: none;
    
                    background-color: $white-01;
    
                    transition: top 0.4s ease-in-out;

                    li {
                        height: 54px;

                        a {
                            width: 100%;
                        }
                    }
                    // -------- Mobile ---------
                    @include mobile {
                        position: static;

                        max-height: 0;
                        width: 100%;

                        overflow: hidden;
                        opacity: 1;

                        border-radius: 0;
                        border: none;
                        pointer-events: initial;

                        transition: max-height 0.4s ease-in;
                        
                        background-color: $white-03;

                        a {
                            padding-left: 25px;                          
                        }
                    }
                }
                .services-active {
                    // -------- Mobile ---------
                    @include mobile {
                        @include submenu-active;
                        max-height: 108px;  
                    }
                }
                .portfolio-active {
                    // -------- Mobile ---------
                    @include mobile {
                        @include submenu-active;
                        max-height: 162px;
                    }
                }

                .icon-active {
                    // -------- Mobile ---------
                    @include mobile {
                        transform: rotate(-90deg);
                    }
                }
                
            }
        }
        .nav-active {
            top: 140px;
            opacity: 1;
            pointer-events: initial;
        }
    }
    
}
.main {

    .art-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 15px;

        background-color: $white-01;

        .title {
            display: grid;
            grid-template-columns: 1fr;

            padding: 30px 10px;
            

            &-01, &-02,&-03 {
                position: relative;

                @include flex-center;
                gap: 10px;

                text-align: center;
                text-transform: uppercase;
            }
            &-03 {
                flex-wrap: wrap;
            }
            h2 {
                font-size: clamp(2rem, 4vw, 4rem);
                font-weight: 600;
                
                white-space: nowrap;

                color: $black;
            }
            h3 {
                font-family: 'Times New Roman', Times, serif;
                font-size: clamp(1.1rem, 4vw, 3rem);
                font-weight: 500;
                font-style: italic;   
                
                color: $gray;
            }
            #txt-01, #txt-02 {
                font-size: clamp(2.5rem, 4vw, 4rem);
                color: $orange;
            }
            .shape-01 {
                height: 40px;
                width: 120px;

                border-radius: 25px;
                border: 3px solid $black;

                overflow: hidden;
            }
            .shape-03 {
                height: 40px;
                width: 75px;

                border-radius: 25px;
                border: 3px solid $black;

                overflow: hidden;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .title-slide {
                @include flex-center;
                flex-direction: column;

                position: relative;

                width: 100%;

                overflow: hidden;

                .is-visible {
                    position: relative;
                    opacity: 1;
                    transform: translateY(0);

                    animation: slide-in 1s ease-in-out;
                }
                .is-hidden {
                    position: absolute;
                    opacity: 0;
                    transform: translateY(80px);

                    animation: slide-out 0.5s ease-in-out;
                }
                @keyframes slide-in {
                    0% {
                        transform: translateY(-80px);
                        opacity: 0;
                    }
                    50% {
                        transform: translateY(15px);
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
                @keyframes slide-out {
                    from {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    to {
                        transform: translateY(80px);
                        opacity: 0;
                    }
                }
            }
        
        }
        .content {
            display: grid;
            grid-template-columns: 1fr repeat(4, minmax(auto, 280px)) 1fr;
            grid-template-areas: '. area-01 area-01 area-02 area-03 .';
            grid-auto-rows: 310px;
            gap: 20px;

            // -------- Mobile ---------
            @include mobile {
                grid-template-areas: 
                '. area-01 area-01 area-01 area-01 .'
                '. area-02 area-02 area-03 area-03 .'
                ;
                gap: 10px;

                // -------- S-size ---------
                @include s-size {
                    grid-template-areas: 
                '. area-01 area-01 area-01 area-01 .'
                '. area-02 area-02 area-02 area-02 .'
                '. area-03 area-03 area-03 area-03 .'
                ;
                }
            }

            &-01 {
                grid-area: area-01;
                background-color: $orange;

                overflow: hidden;

                border-radius: 5px
            }
            &-02 {
                grid-area: area-02;
            }
            &-03 {
                grid-area: area-03;
            }

            &-02, &-03 {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: 50% 50%;
                
                overflow: hidden;

                // -------- Mobile ---------
                @include mobile {
                    grid-auto-rows: 70% 30%;
                }
            }
            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
            .c-image {
                border-radius: 5px;
                overflow: hidden;
            }
            .c-text {
                display: flex;
                flex-direction: column;

                padding: 10px;

                a {
                    color: $orange;
                }
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                }
                p {
                    font-weight: 400;

                    &:last-child {
                        font-weight: 300;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}