@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: "Prompt", sans-serif;
}

.header {

    .nav-container {
        
        // -------- Mobile ---------
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'menu-area'
            'icons-area'
            'nav-area'
            ;
        }

        .icons {
            @include flex-center;
    
            background-color: $pink;
            
            z-index: 998;

            // -------- Mobile ---------
            @include mobile {
                grid-area: icons-area;
                height: 50px;
                width: 100%;

                position: absolute;
                top: 40px;
                left: 0;

                pointer-events: none;
                opacity: 0;

                transition: top 0.4s, opacity 0.3s;
            }

            .icons-ul {
                @include flex-center;
                gap: 15px;

                // -------- Mobile ---------
                @include mobile {
                    gap: 0;
                }

                li {
                    a {
                        i{
                            display: block;
                            font-size: 20px;
                            padding: 15px;
                            color: $white-01;

                            transition: color 0.3s;

                            &:hover {
                                color: $white-03;
                            }
                        }
                        
                    }
                }
            }
        }
        .icons-active {
            top: 90px;
            opacity: 1;
            pointer-events: initial;
        }

        .menu {
            @include flex-center;
            padding: 30px;
            
            z-index: 999;

            background-color: $white-01;

            // -------- Mobile ---------
            @include mobile {
                grid-area: menu-area;

                @include flex-center;
                justify-content: space-between;
                
                box-shadow: 0px 0px 3px $shadow;
                padding: 10px;
                height: 90px;
            }

            .menu-logo {
                @include flex-center;
                
                a {
                    @include flex-center;
                    img {
                        max-width: 90%;
    
                        // -------- Mobile ---------
                        @include mobile {
                            max-width: 70%;
                        }
                    }
                }
                
            }
            .menu-icon {
                display: none;

                // -------- Mobile ---------
                @include mobile {
                    @include flex-center;

                    position: relative;
                    height: 45px;
                    width: 45px;

                    .icon-button {
                        position: absolute;
                        height: 3px;
                        width: 30px;
        
                        border: none;
                        border-radius: 5px;
        
                        background-color: $black;
                        transition-duration: 0.2s;
        
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0; 
                            bottom: 9px; 
        
                            height: 3px;
                            width: 30px;
                            border-radius: 5px;
        
                            background-color: $black; 
                            transition-duration: 0.4s;           
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 9px;
                            left: 0;
        
                            height: 3px;
                            width: 30px;
                            border-radius: 5px;
        
                            background-color: $black;
                            transition-duration: 0.4s;
                        }
                    }
                    .icon-click {
                        position: absolute;
                        height: 45px;
                        width: 45px;
                        cursor: pointer;
                    }
                    
                    .icon-button-active {
                        background-color: transparent;

                        &::after {
                            bottom: 0;
                            transform: rotate(45deg);
                        }
                        &::before {
                            top: 0;
                            transform: rotate(-45deg);
                            width: 30px;
                        }
                    }
                }
            }
        }
        
        .nav {
            @include flex-center;

            background-color: $white-01;
            
            z-index: 997;
            
            // -------- Mobile ---------
            @include mobile {
                grid-area: nav-area;
                justify-content: flex-start;
                width: 100%;
                
                position: absolute;
                top: 90px;
                left: 0;

                pointer-events: none;
                opacity: 0;

                transition: top 0.4s, opacity 0.3s;
            }

            .nav-ul {
                @include flex-center;
                gap: 20px;
    
                padding-inline: 60px;
    
                border-radius: 30px;
                border: 4px solid $black;
                
                background-color: $white-01;
                
                // -------- Mobile ---------
                @include mobile {
                    flex-direction: column;
                    gap: 0;

                    width: 100%;
                    padding: 0;

                    border-radius: 0;
                    border: none;
                }

                li {
                    @include flex-center;
                    justify-content: flex-start;
                    height: 54px;

                    // -------- Mobile ---------
                    @include mobile {
                        display: block;

                        height: 100%;
                        width: 100%;
                    }
                    
                    a, .dropdown-btn {
                        color: $black;
                        padding: 15px 10px;

                        cursor: pointer;
                        
                        transition: background-color 0.3s, color 0.2s;

                        &:hover {
                            color: $pink;
                        }
                        
                        // -------- Mobile ---------
                        @include mobile {
                            @include flex-center;
                            justify-content: space-between;

                            padding: 15px;
                            width: 100%;

                            &:hover {
                                background-color: $white-02;
                                
                            }
                        }

                        span {
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        i {
                            font-size: 14px;

                            color: $black;

                            transition: transform 0.2s;              
                        }
                    }
    
                    .li-bar {
                        cursor: default;

                        // -------- Mobile ---------
                        @include mobile {
                            display: none;
                        }
                    }
                }
                .li-services, .li-portfolio {
                    position: relative;
                    z-index: 996;

                    // -------- Desktop ---------
                    @include desktop {
                        &:hover .services, &:hover .portfolio {
                            top: 54px;
                            opacity: 1;
                            pointer-events: initial;
                        }              
                        &:hover i, &:hover i {
                            transform: rotate(-90deg);
                        }
                    }
                }
                .services, .portfolio {
                    position: absolute;
                    top: 70px;
                    
                    display: flex;
                    justify-content: center;

                    width: 200%;
                    flex-direction: column;
    
                    border: 4px solid $black;
                    border-radius: 0 0 10px 10px;
    
                    opacity: 0;
                    pointer-events: none;
    
                    background-color: $white-01;
    
                    transition: top 0.4s ease-in-out;

                    li {
                        height: 54px;

                        a {
                            width: 100%;
                        }
                    }
                    // -------- Mobile ---------
                    @include mobile {
                        position: static;

                        max-height: 0;
                        width: 100%;

                        overflow: hidden;
                        opacity: 1;

                        border-radius: 0;
                        border: none;
                        pointer-events: initial;

                        transition: max-height 0.4s ease-in;
                        
                        background-color: $white-03;

                        a {
                            padding-left: 25px;                          
                        }
                    }
                }
                .services-active {
                    // -------- Mobile ---------
                    @include mobile {
                        @include submenu-active;
                        max-height: 108px;  
                    }
                }
                .portfolio-active {
                    // -------- Mobile ---------
                    @include mobile {
                        @include submenu-active;
                        max-height: 162px;
                    }
                }

                .icon-active {
                    // -------- Mobile ---------
                    @include mobile {
                        transform: rotate(-90deg);
                    }
                }
                
            }
        }
        .nav-active {
            top: 140px;
            opacity: 1;
            pointer-events: initial;
        }
    }
    
}
.main {

    .article-container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 15px;

        background-color: $white-01;

        .article-text {
            display: grid;
            grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
            grid-template-areas: '. text-area .';
            gap: 20px;
            
            padding-block: 80px;

            // -------- Mobile ---------
            @include mobile {
                gap: 10px;

                padding-block: 40px;
            }

            .box-text {
                grid-area: text-area;
                
                max-width: 620px;
                
                span {
                    font-size: 2.6rem;
                    font-weight: 450;
                    color: $black;
                }
                .name-text {
                    display: block;

                    font-size: initial;
                    font-weight: 300;
                    font-style: italic;

                    color: $gray;
                }
                .slide-text {
                    position: relative;
                    display: inline-flex;

                    overflow: hidden;
                    
                    .is-visible {
                        position: relative;
                        display: inline-block;
                        opacity: 1;

                        color: $pink;
                        
                        animation: slide-in 0.8s;
                    }
                    .is-hidden {
                        position: absolute;
                        display: inline-block;

                        opacity: 0;

                        color: $pink;

                        transform: translateY(100%);
                        animation: slide-out 0.6s;
                    }
                    @keyframes slide-in {
                        0% {
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        50% {
                            transform: translateY(10%);
                        }
                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                    @keyframes slide-out  {
                        0% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        100%{
                            transform: translateY(100%);
                            opacity: 0;
                        }
                    }
                }
            }
        }
        
        .content {
            display: grid;
            grid-template-columns: 1fr repeat(4, minmax(auto, 260px)) 1fr;
            grid-template-areas: '. area-01 area-01 area-02 area-03 .';
            grid-auto-rows: 310px;
            gap: 20px;

            // -------- Mobile ---------
            @include mobile {
                grid-template-areas: 
                '. area-01 area-01 area-01 area-01 .'
                '. area-02 area-02 area-03 area-03 .'
                ;
                gap: 10px;

                // -------- S-size ---------
                @include s-size {
                    grid-template-areas: 
                '. area-01 area-01 area-01 area-01 .'
                '. area-02 area-02 area-02 area-02 .'
                '. area-03 area-03 area-03 area-03 .'
                ;
                }
            }
            .box-01, .box-02, .box-03 {
                position: relative;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 70% 30%;

                z-index: 995;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 1%);

                    width: 90%;
                    height: 70%;

                    border-radius: 0 0 0 20px;
                    border: 4px solid $black;

                    background-color: transparent;

                    z-index: -1;
                }

                .c-image {
                    border: 4px solid $black;
                    border-radius: 0 20px 0 20px;
                    overflow: hidden;

                    background-color: $pink;
                    
                    img {
                        height: 100%;
                        width: 100%;

                        object-fit: cover;

                        transform: scale(1.05);
                        filter: brightness(70%);

                        transition: transform 0.3s, filter 0.2s;
                        &:hover {
                            transform: scale(1);
                            filter: brightness(50%);
                        }
                    }
                }
                .c-text {
                    padding: 10px 0 0 5px;
                    color: $black;

                    a {
                        font-size: 1.2rem;
                        color: $black;

                        transition: color 0.3s;

                        &:hover {
                            color: $pink;
                        }
                    }
                    p:last-child {
                        padding-top: 5px;
                    }
                }
            }
            .box-01 {
                grid-area: area-01;
            }
            .box-02 {
                grid-area: area-02;
            }
            .box-03 {
                grid-area: area-03;
            }
            
            .box-01 {
                grid-template-rows: 100%;

                &::after {
                    height: 100%;
                }

                .c-text-desktop {
                    display: none;
                }

                // -------- Mobile ---------
                @include mobile {
                    &::after {
                        display: none;
                    }
                }

                // -------- S-size ---------
                @include s-size {
                    grid-template-rows: 70% 30%;

                    &::after {
                        display: initial;
                        height: 70%;
                    }

                    .c-text-desktop{
                        display: initial;
                    }
                }
            }
            
        }
    }
    
    .section-01-container {
        padding-block: 100px 0px;

        max-width: 1100px;
        margin: 0 auto;

        overflow: hidden;
        
        .slide-images {
            @include flex-center;
            width: calc(200px * 18);
            
            -webkit-animation: slide-images 5s linear infinite;
            animation: slide-images 30s linear infinite;

            .image-content {
                @include flex-center;

                img {
                    padding-inline: 50px;
                    width: 90%;
                    
                    object-fit: cover;
                }
            }
        }
        @keyframes slide-images {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(calc(-200px * 9));
                transform: translateX(calc(-200px * 9));
            }
        }
        .section-01-text {
            @include flex-center;
            padding-block: 60px;
           
            text-align: center;

            p {
                max-width: 400px;

                font-size: initial;
                font-weight: 300;
                font-style: italic;

                color: $gray;
            }
        }
    }
}